.footer-sections
  #about.left.grid-4-5
    h6 About
    <p>Elizabeth is currently a client integration engineer, working in telephony at <a href="http://www.cognia.com/">Cognia</a>. After having previously worked at ThoughtWorks and Cheshire Datasystems Ltd. A Northern girl at heart originally from Manchester, she is now braving the South and getting to grips with London! Alongside CodeFirst:Girls, she has taught the Advanced Ruby, UX masterclass and the Summer Intensive courses.</p>

  #contact.right
    h6 Contact
    ul.contacts
      <li><a href="http://twitter.com/echesters/"><i class="fa fa-twitter-square"></i>Twitter</a></li>
      <li><a href="http://www.linkedin.com/profile/view?id=298012430&authType=NAME_SEARCH&authToken=21QL&locale=en_US&srchid=2980124301437079265393&srchindex=1&srchtotal=3&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A2980124301437079265393%2CVSRPtargetId%3A298012430%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
      <li><a href="https://github.com/EChesters/"><i class="fa fa-github"></i>GitHub</a></li>