@import url(http://fonts.googleapis.com/css?family=Alegreya+SC|Oxygen|Cutive+Mono);
/* COLOURS ----------- */
/* FONTS ------------- */
/* SIZE ------------- */
.divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  width: 85%;
  margin: 0 auto;
}

/* SECTIONS */
body {
  background-color: #eee;
  color: #111;
}

.blog-header {
  background-image: url("/images/mountains-clipped.jpg");
  width: 100%;
  text-align: center;
  max-width: 180%;
  max-height: 120%;
  background-size: cover;
  height: auto;
  width: auto;
  padding: 40px;
  -moz-box-shadow: 0 0 10px #ABADB3;
  -webkit-box-shadow: 0 0 10px #ABADB3;
  box-shadow: 0 0 10px #ABADB3;
}

.post-content {
  padding: 25px 75px;
}

.blog-posts {
  list-style: none;
  padding: 1% 10%;
}
.blog-posts li {
  margin: 15px 0;
}

#content {
  padding-top: 44px;
}
#content ul.no-bullets {
  list-style: none;
}
#content ul, #content ol {
  margin-left: 50px;
}
#content ul li, #content ol li {
  margin: 5px 0;
}

/* TEXT */
h1.page-title {
  font-family: "Oxygen", sans-serif;
  letter-spacing: 1px;
  margin: 35px auto;
  color: #fff;
  font-size: 3em;
  width: 65%;
}

.post-entry {
  margin: 10px;
}

h3.post-title {
  margin-bottom: 10px;
  font-family: "Oxygen", sans-serif;
}
h3.post-title a {
  color: #EE6200;
  font-size: 20px;
  letter-spacing: 1px;
}

.post-time {
  opacity: 0.5;
  float: right;
}

/* IMAGES */
.images {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

img, a img {
  max-height: 210px;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
