body {
  background-color: #2A363B;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar {
  background-color: #99B898;
  width: 100%;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}
.nav-bar .home-logo {
  display: inline-block;
  float: left;
  vertical-align: middle;
  text-decoration: none;
  padding: 10px 10px 0 10px;
  color: #2A363B;
}
.nav-bar .home-logo:link, .nav-bar .home-logo:visited {
  text-decoration: none;
}
.nav-bar ul {
  display: block;
  text-align: right;
}
.nav-bar ul li {
  display: inline-block;
}
.nav-bar ul li a {
  display: block;
  padding: 10px;
  color: #2A363B;
}
.nav-bar ul li a:hover {
  background-color: #E84A5F;
  -moz-box-shadow: inset 0 0 3px #676767;
  -webkit-box-shadow: inset 0 0 3px #676767;
  box-shadow: inset 0 0 3px #676767;
}
.nav-bar ul li a:link, .nav-bar ul li a:visited {
  text-decoration: none;
}

.rectangle {
  background-color: #E84A5F;
  border-radius: 5px;
  width: 90%;
  min-height: 60px;
  margin: 10px auto;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
.rectangle .sewing {
  border: dashed 1px #952B3A;
  width: 99%;
  border-radius: 5px;
  margin: 0 auto;
  min-height: 58px;
}

.heading {
  margin: 10px 5px;
  font-family: "Indie Flower", cursive;
  font-size: 37px;
  vertical-align: middle;
  font-variant: small-caps;
}

/* TEMP for testing divs */
.border {
  border: solid 1px black;
}
