body {
  background-color: #eeeeee;
  color: #111111;
  font-family: "Open Sans", sans-serif;
}

.nav-bar {
  background-color: #1C140D;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.nav-bar .home-logo {
  display: inline-block;
  float: left;
  vertical-align: middle;
  text-decoration: none;
  padding: 10px 10px 0 10px;
  color: #CBE86B;
}
.nav-bar .home-logo:link, .nav-bar .home-logo:visited {
  text-decoration: none;
}
.nav-bar ul {
  display: block;
  text-align: right;
}
.nav-bar ul li {
  display: inline-block;
}
.nav-bar ul li a {
  display: block;
  padding: 10px;
  color: #CBE86B;
}
.nav-bar ul li a:hover {
  background-color: #F2E9E1;
  color: #1C140D;
  -moz-box-shadow: inset 0 0 3px #676767;
  -webkit-box-shadow: inset 0 0 3px #676767;
  box-shadow: inset 0 0 3px #676767;
}
.nav-bar ul li a:link, .nav-bar ul li a:visited {
  text-decoration: none;
}

.heading {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 37px;
  font-variant: small-caps;
  padding-bottom: 50px;
}
@media only screen and (max-width: 499px) {
  .heading {
    font-size: 25px;
  }
}

.section {
  height: 200px;
  text-align: center;
  overflow: hidden;
  border: 3px solid #eee;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}
@media only screen and (max-width: 499px) {
  .section {
    margin: 5px;
    max-height: 150px;
  }
}
.section a {
  color: #111111;
  text-decoration: none;
}
.section a:hover, .section a:visited {
  text-decoration: none;
}

.section-img {
  width: 100%;
  display: block;
}

#about {
  width: 50%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2em;
}
@media only screen and (max-width: 499px) {
  #about {
    width: 90%;
  }
}
#about .selfie {
  border-radius: 100%;
  border: solid white 3px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  max-height: 150px;
  margin-top: 10px;
  float: right;
  text-align: top;
}

.divider {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  line-height: 1.2em;
}
@media only screen and (max-width: 499px) {
  .divider {
    width: 90%;
    margin: 30px auto;
  }
}
.divider:before, .divider:after {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 54%;
  height: 0.65em;
  border-bottom: 1px solid #FA6900;
  margin: 0 2% 0 -55%;
}
.divider:after {
  margin: 0 -55% 0 2%;
}

.page-divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  margin: 30px 0 30px 0;
  opacity: 0.1;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-variant: small-caps;
}

/* PORTFOLIO ------------------------------------------- */
.achievement {
  min-height: 60px;
}
.achievement h3 {
  font-size: 30px;
}
.achievement .date {
  text-align: center;
  vertical-align: middle;
}
@media only screen and (max-width: 499px) {
  .achievement h3, .achievement p {
    font-size: 14px;
  }
}

/* BLOG POSTS ----------------------------------------- */
.blog-posts {
  width: 75%;
  margin: 0 auto;
  list-style: none;
}
.blog-posts li {
  margin-left: 10px;
}
.blog-posts li .date {
  font-size: 14px;
  color: #CBE86B;
  display: block;
  width: 100%;
}
.blog-posts li a {
  color: #111111;
  font-size: 17px;
  display: block;
  margin-top: 10px;
}
.blog-posts li a:link, .blog-posts li a:visited {
  color: #111111;
  text-decoration: none;
}
