@import url(http://fonts.googleapis.com/css?family=Lato|Oswald:400,700);
/* COLOURS ----------- */
/* FONTS ------------- */
/* SIZE ------------- */
.divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  width: 85%;
  margin: 0 auto;
}

/* SECTIONS ------------------------ */
body {
  font-family: "Lato", sans-serif;
  background-color: #eee;
}

#content {
  padding-top: 40px;
}

.nav-bar {
  width: 100%;
  position: absolute;
  background-color: #E0E4CC;
  height: 40px;
}
.nav-bar ul.options {
  text-align: center;
}
.nav-bar ul.options li {
  display: inline-block;
}
.nav-bar ul.options li a {
  display: block;
  padding: 10px 50px;
}
.nav-bar ul.options li a:link, .nav-bar ul.options li a:visited {
  text-decoration: none;
}

#header {
  background-image: url("/images/mountains.jpg");
  max-width: 180%;
  max-height: 120%;
  background-size: cover;
  height: auto;
  width: auto;
  text-align: right;
}
#header .heading {
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  margin-right: 30px;
}
#header .heading h1 {
  position: relative;
  top: -50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  color: #111;
  font-size: 2em;
  font-weight: 800;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
#header .heading h2 {
  position: relative;
  top: -150%;
  -webkit-transform: translateY(150%);
  -ms-transform: translateY(150%);
  transform: translateY(150%);
  font-size: 1.8em;
  font-weight: 500;
  color: #fff;
}

#main {
  background-color: #E0E4CC;
  overflow-y: scroll;
}

section {
  color: #56575A;
  padding: 30px 40px;
  display: block;
}
section .description {
  line-height: 1.5em;
}

h1.page-title {
  text-align: center;
  font-size: 2em;
}

/* IMAGES -------------------------- */
.avatar-container {
  width: 150px;
  height: 150px;
  border: 3px #eee solid;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  float: right;
  margin-left: 10px;
}
.avatar-container img {
  max-width: 180%;
  max-height: 120%;
  background-size: cover;
  height: auto;
  width: auto;
}

.posts {
  text-align: center;
  margin-top: 20px;
}
.posts .post {
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 20px;
  border: 3px #eee solid;
  -moz-box-shadow: 0 0 10px #ABADB3;
  -webkit-box-shadow: 0 0 10px #ABADB3;
  box-shadow: 0 0 10px #ABADB3;
  display: inline-block;
}
.posts .post img {
  max-width: 180%;
  max-height: 120%;
  background-size: cover;
  height: auto;
  width: auto;
}
.posts .post .text-post {
  width: 100%;
  height: 100%;
}
.posts .post .text-post p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.8em;
}
.posts .post .text-post.code-club {
  background-color: #2d9632;
  color: #eee;
}
.posts .post .text-post.codefirst-girls {
  background-color: #eee;
  color: #de2244;
}
.posts .post .text-post.accessibility {
  background-color: #004289;
}
.posts .post .text-post.accessibility a {
  display: block;
  color: #eee;
  text-decoration: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.8em;
}
.posts .post .text-post.accessibility a:visited, .posts .post .text-post.accessibility a:link {
  text-decoration: none;
}

/* TEXT ------------------- */
header h2.title {
  padding: 40px 0 50px 0;
  font-size: 2em;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #EE6200;
}
header h3.subtitle {
  font-size: 1.8em;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-variant: small-caps;
  margin-bottom: 10px;
}

.section h2 {
  font-size: 2em;
  margin: 20px 0;
  font-weight: 300;
}
.section ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  display: inline-flex;
}
.section ul li {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  border: 3px #fff solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.section ul li .achievement {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.section ul li .achievement h3 {
  font-size: 1.1em;
}
.section ul li.cdl {
  background-color: #004aa2;
  color: #eee;
}
.section ul li.thoughtworks {
  background-color: #f158a1;
  color: #eee;
}
.section ul li.code-club {
  background-color: #2d9632;
  color: #eee;
}
.section ul li.code-first {
  background-color: #fff;
  color: #de2244;
}
.section ul li.teen-tech {
  background-color: #965fab;
}
.section ul li.stemnets {
  background-color: #fff;
  color: #022261;
}
.section ul li.university {
  color: #005391;
  background-color: #fff;
}
.section ul li.talk-ux {
  background-color: #49a692;
  color: #eee;
}

/* COMPONENTS ---------------------- */
.button-container {
  text-align: center;
}

.button, a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #eee;
  display: inline-block;
  margin: 20px 0;
  padding: 15px 40px;
  font-size: 1em;
}
.button.primary, a.button.primary {
  background-color: #FA6900;
  border: solid 3px #EE6200;
}
.button.secondary, a.button.secondary {
  background-color: #2e9adb;
  border: solid 3px #2787C2;
}
