.banner {
	background: url('../images/post-header.jpg');
	background-size: cover;
	height: 500px;
	text-align: center;
	color: #FFF;

	h2 {
		@include vertical-align(50%);
		display: block;
		font-size: 3em;
		font-family: $base-display-font;
	}
}